%li.todo_item{id:todo.html_id}
  = best_in_place todo, :completed, as: :checkbox
  = best_in_place todo, :name, class:'todo_text'
  = link_to "#{todo.comments_count} discuss", todo, class:'todo_detail'
  - if todo.completed
    %span.todo_detail= "(#{todo.complete_user.try(:username)}, #{time_ago_in_words(todo.complete_time)} ago)"
  - else
    = best_in_place todo, :user_id, as: :select, :collection => members, class:'todo_detail'
  = link_to 'delete', todo, method: :delete, remote:true

