- title @project.name
.page-header
  = link_to @project.team, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back to team
  %h1
    = best_in_place @project, :name

= simple_form_for Todo.new, remote:true, html:{class:'form-inline'} do |f|
  = f.input :project_id, input_html:{value:@project.id}, as: :hidden
  = f.input :name, label:false
  = f.button :submit

%h1
%h3 Tasks
%ul.list-unstyled#incomplete_todos
  = render partial:'projects/todo', collection:@project.incomplete_todos, locals:{members:@project.team.members_to_select}

%h1
%h3 Completed
%ul.list-unstyled#complete_todos
  = render partial:'projects/todo', collection:@project.complete_todos, locals:{members:@project.team.members_to_select}
