= simple_form_for(@todo) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :project
    = f.association :user
    = f.input :important
    = f.input :complete_time
    = f.input :comment_count

  .form-actions
    = f.button :submit
