.page-header
  = link_to new_todo_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Todo
  %h1 Listing todos

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Project
        %th User
        %th Important
        %th Complete time
        %th Comment count
        %th
        %th
        %th

    %tbody
      - @todos.each do |todo|
        %tr
          %td= todo.name
          %td= todo.project
          %td= todo.user
          %td= todo.important
          %td= todo.complete_time
          %td= todo.comment_count
          %td= link_to 'Show', todo
          %td= link_to 'Edit', edit_todo_path(todo)
          %td= link_to 'Destroy', todo, :data => { confirm: 'Are you sure?' }, :method => :delete
