- title @todo.html_title
.page-header
  = link_to @todo.project, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back to project
  %h1
    Task:
    = best_in_place @todo, :name

%h3 Comment
%ul.list-unstyled#comments
  = render @todo.comments

%h1

- if current_user
  = simple_form_for current_user.comments.build, url:comments_path, remote:true do |f|
    = f.association :todo, input_html:{value:@todo.id}, as: :hidden
    = f.association :user, as: :hidden
    = f.input :content, label: false
    = f.button :submit
